{% extends "client_portal/base_settings.html" %}

{% block page_title %}
    <h1> Staff Settings </h1>
{% endblock %}
{% block extra_settings %}
    
    <h3>Clients (* is not active)</h3>
    {% for client in clients %}
        <p>
        {% if not client.activated %}
            (*)
        {% endif %}
            {{ client }}
        </p>
    {% endfor %}

    {% comment %} <p><a href={% url 'staff_create_account' %}>Create client account</a></p> {% endcomment %}

    <h3>Admin Settings</h3>
    {% if user.is_superuser %}
        <p><a href={% url 'create_staff' %}>Create new staff account</a></p>
    {% endif %}
{% endblock %}
